@using UniversityManagementSystem.Models

@{
    ViewBag.Title = "ViewDepartment";
    List<Departments> departmentList = ViewBag.ViewDepartments;
}

<h2>Show All Departments</h2><hr />
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8" style="text-align: center">
        <table class="table">
            <thead>
                <tr>
                    <th class="warning" style="font-size: 18px; text-align: center">Code</th>
                    <th class="active" style="font-size: 18px; text-align: center">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Departments aDepartments in departmentList)
                {
                    <tr>
                        <td>@aDepartments.DepartmentCode</td>
                        <td>@aDepartments.DepartmentName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">

    </div>
</div>